.back{
    
    background: linear-gradient(36deg, #eca48c 8%, #e4df8b 89%) !important ;

}

.cursor {

    cursor: pointer;
    color: white;

}


.text-decorator-none {

    text-decoration: none;
}